@model Demo_test_app.Models.Application

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ApplicationAdd</title>
</head>
<body>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ApplicationAdd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameEquipment" class="control-label"></label>
                <input asp-for="NameEquipment" class="form-control" />
                <span asp-validation-for="NameEquipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeProblemId" class="control-label">Тип проблемы</label><br/>
                <select asp-for="TypeProblemId" class="form-select">
                    <option>TO 1</option>
                    <option>TO 2</option>
                    <option>TO 3</option>
                </select>
                <span asp-validation-for="TypeProblemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Статус заказа</label>
                <select asp-for="Status" class="form-select">
                    <option>выполнено</option>
                    <option>в работе</option>
                    <option>в ожидании</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameClient" class="control-label"></label>
                <input asp-for="NameClient" class="form-control" />
                <span asp-validation-for="NameClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Назначенный работник</label><br />
                <select asp-for="EmployeeId" class="form-select">
                    <option>TO 1</option>
                    <option>TO 2</option>
                    <option>TO 3</option>
                </select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeEquipmentId" class="control-label">Тип оборудования</label><br />
                <select asp-for="TypeEquipmentId" class="form-select">
                    <option>TO 1</option>
                    <option>TO 2</option>
                    <option>TO 3</option>
                </select>
                <span asp-validation-for="TypeEquipmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать заявку" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
